html{
  
    width: 1152px;
    height:700px;
    font-family: Arial, Helvetica ,sans-serif;
    font-size: 11px;
}
body{
    border-style:solid;
    border-color:purple;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.home{
    flex: 2 1 200px;
flex-grow: 2;
flex-shrink: 1;
flex-basis: 200px;
align-self: flex-start;
order: 3


}
.sec1{
    border-style: solid;
    border-color:#14ae5c;
    padding: 25px;
    display: flex;
    align-items:center;
    justify-content: space-around;
    background-color: #c4c4c4
}