html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  width: 80%;
  margin: 0 auto;
}

ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  align-self: center;
}

li{
  margin: 10px;
}

header{
  display: flex;
  justify-content: space-around;
}

article{
  display: flex;
}

main section:first-of-type{
  background-color: #c4c4c4;
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
}

section div:only-of-type{
  background-color: #e19999;
  height: 170px;
  width: 170px;
  align-self: center;
  border-radius: 100px;
}

article aside:only-of-type{
  padding: 20px;
}

#mission-section{
  padding: 20px;
}